/* .card {
    border: 10px;
    margin-top: 15px;
    width: 588px;
    height: 396px;
    background-color: #2b3139;
    display: flex;
}*/
.row {
    color: white;
    font-family: Mochiy Pop One;

}

.card-body {
    font-family: 'Mochiy Pop one';
    font-size: 64px;
    background-color: #2b3139;
    color: white;
}

.d-flex {
    margin-top: 30px;
}

.noticias {
    color: rgb(255, 255, 255);
}